*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    display: flex;
    
    align-items:center;
    align-self: center;
    gap: 0px;
    
}



.boton{
    justify-content: center;
    margin: 1px;
    background-image: url(../img/hechohumo.jpg);
    background-size: cover;
    color: #F9C200;
    font-size:x-small;
    font-family:cursive;
    height: 60px;
    width: 60px;

}
h1{
    color: #F9C200;
}
body{
    
    justify-content: center;
    background-color: #000000;
    background-image: url(../img/hechohumo.jpg);
    background-size: contain;
    align-content: center;
    text-align: center;
    
    color: aliceblue;
}
.boton :hover{
    color: #F9C200;
;
    

}
.img{
    width: 60px;
    height: 60px;
}

.contador{
    border-radius: 50px;
    width: 10px;
    height: 25px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #F9C200;
    border-color: #F9C200;
    border-top-style: ;
}

.lista{
    display: flow-root;
    border-color: dimgrey;
    border-style: inset;
    background-image: url();
    background-size: contain;
    margin-bottom: 30px;
    
}

.Dlista{
    display: flow-root;
    border-color: dimgrey;
    border-style: inset;
    background-image: url(../img/Hechohumo3.png);
    background-size: contain;
    margin-bottom: 30px;
}